In [11]:
import os
import pandas as pd
df = pd.read_csv( "../data/cpu_power.csv")  


## need to collect

In [12]:
df.head(5)

            Name  TDP
0  AMD A10-4600M   35
1  AMD A10-4655M   25
2   AMD A10-5700   65
3  AMD A10-5745M   25
4  AMD A10-5750M   35